.containerIndex {
  /* background-color: red; */
  width: 100%;
  height: 40rem;
}

.mainThemes {
  /* background: blue; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
  height: auto;
}