.containerCard {
  border:solid 0.2rem var(--borders);
  background: var(--background-card);
  height: 24rem;
  width: 22rem;
  border-radius: 0.4rem;
  scroll-snap-align: start;
  flex-shrink: 0;
}

.containerCard:hover{
  box-shadow: 0rem 0rem 1.0rem 0rem rgba(0, 0, 0, 0.4);
}

.imgCard {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgCard img {
  width: 19.2rem;
  height: 12rem;
  margin-top: 1.2rem;
  margin-bottom: 0.8rem;
  border-radius: 0.4rem;
  object-fit: cover;
}

.textCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 19.2rem;
  margin-left: 1.2rem;
  gap: 1.2rem;
}

.textCard h3 {
  height: 2.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.textCard p {
  font-size: 1.42rem;
  font-weight:400;
  color: var(--secondary-text);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.textCard a {
  text-decoration: none;
  color: var(--links-card-default);

  justify-self: flex-start;
  text-align: start;
  margin-left: 0;
}

.textCard a:hover {
  text-decoration: underline;
}

.infoCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.infoCard label {
  font-size: 1.42rem;
}

.btnCard {
  display: flex;
  justify-content: space-between;
  gap: 0.8rem;
}

.btnPlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--btn-default);
  width: 5.2rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.btnPlay:hover {
  filter: brightness(80%);
}

.btnPlay svg {
  width: 1.6rem;
  height: 1.6rem;
}

.btnOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: var(--options-card);
  border: none;
  cursor: pointer;
}

.btnOptions svg {
  stroke: currentColor;
}

.btnOptions:hover {
  color: var(--borders);
}