:root{
    --background: #d9e0ef;
    --borders: #2C2F48;
    --text-input: #C2C3D1;
    --cursor-input: #753bfc;

    --primary-text: #293647;

    --primary-color: #8b5cf6;
}

[data-theme='login'] {
    --background: linear-gradient(to right, #120B45 0%, #0B0F1A 99%);
    --text-login: #e6e9f0;
    --border-input: #fc6101;
    --btn-default: #FF914D;
    --link: #FF914D;
    --link-hover: #fc6101;
}