:root{
    --background: #d9e0ef;
    --borders: #2C2F48;
    --text-input: #C2C3D1;
    --cursor-input: #753bfc;

    --primary-text: #0a0f1a;
    --secondary-text: #293647;
    --contrast-text: #E6E9F0;

    /* --primary-color: #8b5cf6; */
    --primary-color: #753bfc;
    --links-card-default: #5b17f8;
    --links-hover: #AE95DE;
    --border-card: #7c3aed33;
    --background-card: #A6B3D9;
    --background-menu: #99a5c8;
    --options-card: #585f72;
    --options-card-hover: #37373a;

    --btn-default: #753bfc;
    --background-btn-close-menu: #78819b;

    --background-footer: #3A0DA4;
    /* --label-footer: #888888; */
    --label-footer: #d9e0ef;
}

[data-theme='dark'] {
    --background: #0B0F1A;
    /* --borders: #2C2F48; */
    --borders: #6f77c9;
    --text-input: #C2C3D1;
    --cursor-input: #FC6101;

    --primary-text: #E6E9F0;
    --secondary-text: #C2C3D1;
    --contrast-text: #293647;


    /* --primary-color: #8b5cf6; */
    --primary-color: #FC6101;
    --links-hover: #FC6101;
    --border-card: #7c3aed33;
    --background-menu: #050B1A;

    --btn-default: #FC6101;
    --background-btn-close-menu: #78819b;

    --background-footer: #1D0051;
    --label-footer: #888888;
}

[data-theme='login'] {
    --background: linear-gradient(to right, #120B45 0%, #0B0F1A 99%);
    --text-login: #e6e9f0;
    --border-input: #fc6101;
    --btn-default: #FF914D;
    --link: #FF914D;
    --link-hover: #fc6101;
}