.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.pageContent {
  display: flex;
  flex-grow: 1;
  align-items: stretch;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.menuBtn {
  /* background: blue; */
  align-self: flex-start;
  margin-left: 2rem;
  margin-top: 2rem;
  border-radius: 0.4rem;
}

.menuBtn button {
  display: flex;
  background: var(--btn-default);
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
  border: solid 0.2rem var(--borders);
  padding: 0.4rem;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

.menuBtn button:hover {
  filter: brightness(80%);
}

.mainContainer {
  display: flex;
  align-items: stretch;
  width: 100%;
}