.slider {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}


.buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 8px;
}

.button {
  width: 2rem;
  height: 1.2rem;
  border-radius: 0.2rem;
  /* border-radius: 50%; */
  border: none;
  background-color: #b7b7b7;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #888;
}

.active {
  background-color: var(--btn-default);
}
